#* use "VITE_" at beginning variabel
VITE_APP_NAME=Template Vite React Typescript Knitto
VITE_BASE_API_URL=http://127.0.0.1
VITE_ENVIRONTMENT=DEVELOPMENT
VITE_DOCUMENTATION_URL=http://dokumentasi.co.id/knitto/ui
