.react-calendar {
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  width: 250px !important;
  max-width: unset !important;
  border: none !important;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  line-height: 1;
}
.react-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}
.react-calendar .react-calendar__tile--now {
  border: 1px solid var(--navy-100);
  background-color: transparent;
}
.react-calendar .react-calendar__tile--now:hover {
  color: white;
  background-color: var(--navy-100) !important;
}
.react-calendar .react-calendar__navigation .react-calendar__navigation__arrow {
  font-size: 20px;
}
.react-calendar .react-calendar__navigation .react-calendar__navigation__label__labelText {
  font-weight: 600;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile--active {
  background-color: var(--navy-100);
  color: white;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile--active.react-calendar__month-view__days__day--weekend {
  color: white;
}
.react-calendar .react-calendar__month-view__days .react-calendar__month-view__days__day--weekend {
  color: black;
}
.react-calendar .react-calendar__month-view__days .react-calendar__month-view__days__day--neighboringMonth {
  color: var(--black-20);
}
.react-calendar .react-calendar__year-view__months__month.react-calendar__tile--hasActive {
  background-color: var(--navy-100);
  color: white;
}
.select-week ~ .react-calendar .hover-week:hover {
  background-color: var(--burnt-orange-80);
  color: white;
}
.select-week ~ .react-calendar .hover-week:hover + .react-calendar__month-view__days__day {
  background-color: var(--navy-100);
  color: white;
}
.select-week ~ .react-calendar .hover-week:hover + .react-calendar__month-view__days__day + .react-calendar__month-view__days__day {
  background-color: var(--navy-100);
  color: white;
}
.select-week
  ~ .react-calendar
  .hover-week:hover
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day {
  background-color: var(--navy-100);
  color: white;
}
.select-week
  ~ .react-calendar
  .hover-week:hover
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day {
  background-color: var(--navy-100);
  color: white;
}
.select-week
  ~ .react-calendar
  .hover-week:hover
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day {
  background-color: var(--navy-100);
  color: white;
}
.select-week
  ~ .react-calendar
  .hover-week:hover
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day
  + .react-calendar__month-view__days__day {
  background-color: var(--navy-100);
  color: white;
}
